.display-5{
    color: black;
}

.displayswitch{
    color: #fff;
}

.backgroundswitch{
    background-color: black !important;
}

.dark{
    background-color: #1A1E25 !important;
    color: white !important;
}
.yellow{
    color: yellow;
    box-shadow: 0px 0px 10px yellow;
}

.view{
    height: 0px;
    background-color: aqua;
    overflow: hidden;
    transition: 1s;
}


#newtaskarea{
    background-color: #17a2b8;
    margin-bottom: 50px;

}
.btn-primary{
    color: #856404;
    background-color: navajowhite;
}
.close{
    color: red;
}
#notasks{
    margin-bottom: 0px;;
}
.checked{
    background-color: gray;
    color: darkgray;
    text-decoration: line-through;
}

.toggle-line{
    text-decoration: line-through;
}

h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #17a2b8, 0 0 20px #17a2b8, 0 0 25px #17a2b8, 0 0 30px #17a2b8, 0 0 35px #17a2b8;
  }
.container{
    padding: 10px 10px;
}

.data-error{
    display: none;
}

.block{
    display: block;
}


/* Footerrrrrrrrrrrrrr */



section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-area {
border-bottom: 1px solid #353C46;
}

.contact-content p {
font-size: 15px;
margin: 30px 0 60px;
position: relative;
}

.contact-content p::after {
background: #353C46;
bottom: -30px;
content: "";
height: 1px;
left: 50%;
position: absolute;
transform: translate(-50%);
width: 80%;
}

.contact-content h6 {
color: #8b9199;
font-size: 15px;
font-weight: 400;
margin-bottom: 10px;
}

.contact-content span {
color: #353c47;
margin: 0 10px;
}

.contact-social {
margin-top: 30px;
}

.contact-social > ul {
display: inline-flex;
}

.contact-social ul li a {
border: 1px solid #8b9199;
color: #8b9199;
display: inline-block;
height: 40px;
margin: 0 10px;
padding-top: 7px;
transition: all 0.4s ease 0s;
width: 40px;
}

.contact-social ul li a:hover {
border: 1px solid #FAB702;
color: #FAB702;
}

.contact-content img {
max-width: 210px;
}

section, footer {
background: #1A1E25;
color: #868c96;
}

footer p {
padding: 40px 0;
text-align: center;
}

footer img {
width: 44px;
}